@import "variables.css";
@import "navbar.css";
@import "header.css";
@import "footer.css";
@import "contact.css";
@import "body.css";
@import "about.css";
@import "portfolio.css";



img {

    border-radius: 3%;
}

.pic {
    position: relative;
    width: 200px;
    height: 150px;


}

.text {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 305px;
    height: 0;
    text-align: center;
    background: rgba(54, 69, 72, 0.9);
    transition: height 0.7s ease-out;
    color: white;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 150px;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 3%;
    text-decoration: none;

}


.portfolio {

    margin-bottom: 5em;
}